:root {
  --textColor: rgb(44, 44, 44);
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Ephesis', cursive;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navBar div {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 20px 50px;
}

.navBar {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  border-bottom: solid thin rgb(219, 219, 219);
}

.logo {
  padding: 10px 0;
}

.logo a {
  text-decoration: none;
  color: rgb(44, 44, 44);
}

.navigations a {
  padding: 10px 0;
  text-decoration: none;
  color: rgb(44, 44, 44);
}

.signUpDiv a {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.logIn {
  background-color: rgb(255, 255, 255);
  color: rgb(44, 44, 44);
  border: 1px solid var(--textColor);
}

.signUp {
  background-color: var(--textColor);
  color: rgb(255, 255, 255);
}

.signUp:hover {
  background-color: rgb(73, 73, 73);
}

.logIn:hover {
  background-color: rgb(73, 73, 73);
  color: white;
}

.titleText {
  display: flex;
  flex-direction: column;
  column-gap: 22px;
  margin: 20px 50px;
  row-gap: 17px;
  margin-bottom: 2px;
}

.titleText h1 {
  font-size: 4rem;
}

.mainText {
  color: rgb(29, 27, 27);
  text-align: center;
  font-size: 25px;
}

.subText {
  color: rgb(71, 71, 71);
  text-align: center;
  padding-bottom: 20px;
  font-size: 50px
}

.poster {
  overflow: hidden;
  position: relative;
}

img {
  background-repeat: no-repeat;
  width: 100vw;
}
/*-------------------------- 3rd Section ---------------------------------*/

.bisContainer {
  margin: 40px auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-------------------------- footer Section ---------------------------------*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  background-color: rgb(44, 44, 44);
  color: rgb(230, 230, 230);
  margin-top: auto;
}

.footerDivs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerDivs p {
  font-size: small;
}

footer a {
  font-size: small;
  color: rgb(223, 223, 223);
}

.contact a {
  text-decoration: none;
  color: white;
}

.contact a:hover {
  text-decoration: underline;
}

/*---------------------- Admin Page -----------------------*/

.adminSection {
  display: flex;
  flex-direction: row;
  margin: 30px 80px;
}

input {
  padding: 10px;
  width: 300px;
  margin: 4px;
}

.adminSection select {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.adminSection textarea {
  width: auto;
}

.adminSection a {
  text-decoration: none;
}

.adminShift {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: solid 1px rgb(129, 129, 129);
  border-radius: 5px;
  width: 200px;
  background-color: rgb(233, 140, 0);
}

#delBut {
  background-color: rgb(131, 26, 26);
}

#addBtn {
  background-color: rgb(83, 182, 37);
}

#updateBtn {
  background-color: rgb(18, 133, 168);
}

#deleteBtn {
  background-color: rgb(131, 26, 26);
}



/*--------------login page----------------*/

.loginContainer {
  margin: 30px auto;
}

.loginSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.formImage {
  width: 368px;
  height: 452px;
  border: solid 1px rgb(255, 174, 174);
}

.formDiv {
  background-color: white;
  width: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.inputText {
  height: 40px;
  width: 230px;
  margin: 20px 0;
  outline: 0;
  background-color: rgb(240, 240, 240);
  padding: 0 15px;
  border: none;
}

.btn {
  background-color: rgb(44, 44, 44);
  color: white;
  height: 35px;
  width: 95px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnNo {
  background-color: rgb(44, 44, 44);
  color: white;
  height: 35px;
  width: 95px;
  text-align: center;
  border: none;
  /* align-items: center; */
  border-radius: 5px;
  /* display: flex; */
  cursor: pointer;
}

@media only screen and (max-width: 860px) {
  .navBar {
    flex-direction: column;
  }
}

@media only screen and (max-width: 750px) {
  .navBar {
    flex-direction: column;
  }

  .formImage {
    display: none;
  }

  .artContainer {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    gap: 30px;
  }
}

/*--------------common error----------------*/
p.error {
  color: red;
}

p.succuss {
  color: black;
  text-align: center;
  background-color: green;
}



